.question-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.question-label {
  font-weight: bold;
  margin-bottom: 1.1rem;
}

.radio-select {
  margin-top: 0.5rem;
}

.radio-option-text {
  margin-left: 0.7rem;
}
